<div class="creditCardForm">
    <div class="heading">
        <h1>Confrim Validation</h1>
    </div>
    <div class="payment">
        <form [formGroup]="cardChecker">
            <div class="form-group Name">
                <label for="Name">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group CVV">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" formControlName="cvv">
            </div>
            <div class="form-group" id="card-number-field">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" formControlName="cardNumber">
            </div>
            <div class="form-group">
                <label>Expiration Date</label>
                <input type="text" class="form-control" formControlName="expDate">
            </div>
            <div class="form-group" id="pay-now">
                <button type="submit" class="btn btn-default" (click)="validateCard()">Verify</button>
            </div>
        </form>
    </div>
  </div>
  